@model Proyecto.Models.Productos

@{
    ViewData["Title"] = "Details";
}





<div class="container">
    <h2>Detalles de Producto</h2>
    <hr />
    <dl class="row col-md-12">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Existencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descontinuado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descontinuado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorias.NombreCategoria)
        </dd>
    </dl>
    <div>
        <a asp-action="Index">Regresar a lista principal</a>
    </div>
</div>

