@model Proyecto.Models.DetallePedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetallePedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.PedidoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVendida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadVendida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoVenta)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
