
@{
    ViewBag.Title = "Productos";
}
@model IEnumerable<Proyecto.Models.Productos>
<h1>Productos a la Venta</h1>

@if(Model !=null)
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductoID</td>
                    <td>@item.NombreProducto</td>
                    <td>@String.Format("{0:C}",item.Precio)</td>
                    <td>@item.Promociones</td>
                    <td>@item.Image</td>
                    <td>@Html.ActionLink("Agregar","AgregarCarrito","Carrito",new { Id = item.ProductoID })</td>
                </tr>

            }

        </tbody>
    </table>
}


