@model Proyecto.Models.Pedidos

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
        <h2>Eliminar Pedido</h2>
        <hr />
        <dl  class="row col-md-12">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaPedido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaPedido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaEmbarque)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaEmbarque)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReferenciaBanco)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReferenciaBanco)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Clientes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Clientes.ApellidoMaterno)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EstatusPedido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EstatusPedido.DescEstatus)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="PedidoID" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Regresar a lista principal</a>
        </form>

</div>
