@model IEnumerable<Proyecto.Models.Pedidos>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-lg "><i class="fas fa-plus"></i> Pedido</a>
        </p>
    </div>
    <div class="row col-md-12">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaPedido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaEmbarque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReferenciaBanco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clientes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstatusPedido)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEmbarque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenciaBanco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clientes.ApellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstatusPedido.DescEstatus)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PedidoID" class="text-primary" title="Editar"><i class="fas fa-fw fa-lg fa-pencil-alt"></i></a>&nbsp;&nbsp;&nbsp;
                            <a asp-action="Details" asp-route-id="@item.PedidoID" class="text-info" title="Ver Detalles"><i class="fas fa-fw fa-lg fa-eye"></i></a>&nbsp;&nbsp;&nbsp; |
                            <a asp-action="Delete" asp-route-id="@item.PedidoID" class="text-danger" title="Eliminar"><i class="fas fa-fw fa-lg fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
