@model IEnumerable<Proyecto.Models.Pedidos>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div>
        <p>
            <a asp-action="Create" class="btn btn-outline-success fas fa-plus btn-lg ">Pedido</a>
        </p>
    </div>
    <div class="row col-md-12">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaPedido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaEmbarque)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReferenciaBanco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clientes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstatusPedido)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPedido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEmbarque)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenciaBanco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Clientes.ApellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstatusPedido.DescEstatus)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.PedidoID" class="btn btn-outline-primary btn-sm fas fa-edit" title="Editar"></a> |
                            <a asp-action="Details" asp-route-id="@item.PedidoID" class="btn btn-outline-success btn-sm fas fa-eye" title="Ver Detalles"></a> |
                            <a asp-action="Delete" asp-route-id="@item.PedidoID"  class="btn btn-outline-danger btn-sm fas fa-trash-alt"  title="Eliminar"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
