@model IEnumerable<Proyecto.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-lg "><i class="fas fa-plus"></i> Cliente</a>
        </p>
    </div>
    <div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreCliente)
                        Nombre Cliente
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoPaterno)
                        Apellido Paterno
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoMaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TelefonoCliente)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefonoCliente)
                        </td>
                        <td>    
                            <a asp-action="Edit" asp-route-id="@item.ClienteID" class="text-primary" title="Editar"><i class="fas fa-fw fa-lg fa-pencil-alt"></i></a>&nbsp;&nbsp;&nbsp;
                            <a asp-action="Details" asp-route-id="@item.ClienteID" class="text-info" title="Ver Detalles"><i class="fas fa-fw fa-lg fa-eye"></i></a>&nbsp;&nbsp;&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.ClienteID" class="text-danger" title="Eliminar"><i class="fas fa-fw fa-lg fa-times"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
