@model IEnumerable<Proyecto.Models.Clientes>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div>
        <p>
            <a asp-action="Create" class="btn btn-outline-success fas fa-plus btn-lg ">Cliente</a>
        </p>
    </div>
    <div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreCliente)
                        Nombre Cliente
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoPaterno)
                        Apellido Paterno
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoMaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TelefonoCliente)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefonoCliente)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ClienteID" class="btn btn-outline-primary btn-sm fas fa-edit" title="Editar"></a> 
                            <a asp-action="Details" asp-route-id="@item.ClienteID" class="btn btn-outline-success btn-sm fas fa-eye" title="Ver Detalles"></a> 
                            <a asp-action="Delete" asp-route-id="@item.ClienteID" class="btn btn-outline-danger btn-sm fas fa-trash-alt"  title="Eliminar"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
